

@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

html,body{
	font-family: 'Poppins';
}

.container{

display: grid;
grid-template-columns: repeat(20, 1fr);
grid-template-rows: repeat(20, 200px); /*make this minimum */
grid-column-gap: 7px;
grid-row-gap: 7px;
} 





.logo{
grid-column: 2 / 12;
grid-row: 2 / 6;

}


.style-section{
grid-column: 13 / 19;
grid-row: 1 / 9;


}

.components-section{
grid-column: 7 / 12;
grid-row: 7 / 14;
background-color: ;

}

.color-1{
	grid-column: 7 / 8;
	grid-row: 1 / 5;
	background-color:#0D0D0D;
	color:white;
}

.color-2{
	grid-area: 1 / 8 / 4 / 9;
	background-color:#F20505;
	color:white;
}

.color-3{
	grid-area: 1 / 9 / 4 / 10;
	background-color:#F250B9;
	color:white;
}

.color-4{
	grid-area: 1 / 10 / 3 / 11;
	background-color:#0D05F2;
	color:white;
}

.color-5{
	grid-area: 1 / 11 / 3 / 12;
	background-color:#F2C84B;
	color:white;
}

h1{

font-size: 5.653em;
	} 

h2{

font-size: 3.998em;
	} 

h3{

font-size: 2.827em;
	}

h4{

font-size: 1.999em;
	} 

h5 {

font-size: 1.414em;
}

p{


}

